[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
opencv-python = "*"
matplotlib = "*"
pillow = "*"
imageio = "*"
tensorflow-gpu = "*"
keras = "*"

[requires]
python_version = "3"
